@charset "UTF-8";
/*(mauve) */
/* rose*/
/* vert*/
/* gris foncé */
/* gris clair */
/* $heading-shadow-size: .55rem; */
/*@function lightness-shift($colour) {
    @if (lightness($colour) < 25%){
        @return lighten($colour, 10%);
    }@else{
        @return darken($colour, 10%);
    }
}*/
/*
@mixin img-ratio {
    width: 100%;
        display: block;
        overflow: hidden;
        padding-top: 56.5%;
        position: relative;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
}
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit;*/
}

html {
  font-size: 70%;
}

@media screen and (min-width: 1023px) {
  html {
    font-size: 60%;
  }
}

body {
  /* box-sizing: border-box;
    background: $colour-secondary;*/
  margin: 0 100;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1, h2, h3 {
  font-family: 'Shrikhand', sans-serif;
}

h1 {
  font-size: 1.8rem;
}

textarea {
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-weight: 200;
  font-size: 2.75rem;
}

.bouton_explorer {
  margin: 1.5rem 0 3rem 0;
  border-radius: 2em;
  border: 0;
  -webkit-box-shadow: 3px 3px 3px #c2c2c2;
          box-shadow: 3px 3px 3px #c2c2c2;
  font-size: 0.9em;
  color: #fff;
  padding: 1rem;
  background-image: radial-gradient(ellipse farthest-corner at 18px 0, #FF79DA 0%, #9356DC 100%);
  cursor: pointer;
}

.bouton_explorer:hover {
  background: #9356DC;
  color: #222222;
}

.fonctionnment__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5rem 0 25px 0;
  padding: 1.8rem 0 1.3rem 0;
  background-color: #f6f6f6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* alignement vertical*/
  border-radius: 1.5rem;
  -webkit-box-shadow: 3px 3px 10px #eaeaea;
          box-shadow: 3px 3px 10px #eaeaea;
  /* ombre porté */
}

.fonctionnment__bloc--num {
  color: #fff;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 4px 8px 4px 8px;
  margin: 0 1.5rem 0 -12px;
  font-size: 1rem;
  font-weight: bold;
}

.fonctionnment__bloc--icone {
  font-size: 1.8rem;
  color: #777777;
}

.fonctionnment__bloc--icone:hover {
  color: #9356DC;
}

.fonctionnment__bloc--lib {
  font-size: 1.4rem;
  margin-left: 2rem;
  font-weight: bold;
}

.fonctionnment__bloc:hover {
  background-color: #d7c9e9;
  -webkit-box-shadow: 3px 3px 20px #c6bfbf;
          box-shadow: 3px 3px 20px #c6bfbf;
}

/*.header {
    background: $colour-primary;
    height: 10rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;   
    &__logo {
        font-size: 7rem;
        color: $colour-secondary;
        margin-left: 10rem;
        @include heading-shadow($white);
    }
}*/
/*
.header__logo {

    background-repeat: no-repeat;
    background-size:6.5em;
    background-image: url("../images/logo/ohmyfood.png");
    margin: auto;
}
*/
header {
  text-align: center;
  padding: 1rem 0 0 0;
}

.header__imglogo {
  width: 12rem;
}

.nav {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
  font-size: 1rem;
  background-color: #5f5f5f;
  padding: 1.5rem;
}

.nav h3 {
  color: white;
}

.nav__link {
  list-style-type: none;
  /*&--active {
            color: $colour-secondary;
            &:hover{
                color: $colour-secondary;
            }
        }*/
}

.nav__link a {
  text-decoration: none;
  color: white;
}

.nav__link a:hover {
  color: grey;
}

header, main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1140px;
  margin: auto;
}

/*
.container {
    margin: $layout-margin;
    padding: $grid-gutter $grid-gutter 0 $grid-gutter;
    @include border(red);
}
*/
.lieuEtFctionnment {
  /*background-color: yellow;*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

@media screen and (max-width: 1023px) {
  .lieuEtFctionnment {
    display: block;
    /*background-color: yellow;*/
  }
}

.lieuEtFctionnment__ville {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0 1rem 0;
  background-color: #eaeaea;
}

.lieuEtFctionnment__ville span {
  padding-left: 2rem;
  font-weight: bold;
}

.lieuEtFctionnment__explorer {
  background-color: #f6f6f6;
  text-align: center;
  font-size: 1.8rem;
  padding-top: 1.5rem;
}

.lieuEtFctionnment__explorer h1 {
  padding: 1rem 0;
}

.lieuEtFctionnment__explorer span {
  color: #777777;
}

.fonctionnment {
  /* grid-template-columns: 1fr 90% 1fr;*/
  padding: 10px 0 20px;
}

.fonctionnment h1 {
  padding-left: 10px;
}

.restaurants h1 {
  padding-left: 10px;
}

.listeFonctionnment {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

/*.form {
    width: 100%;
    padding-bottom: $grid-gutter;
    &__heading {
        width: 100%;
        color: white;
        background: $colour-primary;
        line-height: 5rem;
        padding: $grid-gutter;
    }
    &__field {
        & label {
            color: red;
            display: block;
            font-size: 2rem;
            line-height: 2rem;
            padding-top: $grid-gutter;
        }
        & input {
            width: 100%;
            background: $colour-secondary;
            @include border;
            padding: $grid-gutter;
            color: red;
            font-weight: 900;
            font-style: italic;
            font-size: 2.75rem;
            @include border;
            background-color: $colour-secondary;
            color: $colour-primary;

        }
        & textarea {
            width: 100%;
            color: $colour-primary;
            background: $colour-secondary;
            @include border;
            outline: none;
            padding: $grid-gutter;
            margin-bottom: $grid-gutter*0.5;
        }
    }
}*/
.restaurants {
  padding-top: 10px;
  /*background-color: orange !important;*/
}

/*sur grand écran = desktop */
@media screen and (min-width: 1024px) {
  #hebergements .produits, .restaurants .produits {
    /* pour que les produits s'affiches à la suite en mode desktop */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction: row; par defaut */
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    /*les éléments sont séparés avec de l'espace entre eux ;.*/
  }
  .restaurants .vignetteHaute {
    height: 90%;
  }
  .restaurants .vignetteHaute .imgbg {
    background-size: 24.7em !important;
    height: 260px !important;
  }
}

.restaurants .produits__lien__produit .desc-produit {
  padding: 0 0 10px 10px;
}

.restaurants .produits__lien__produit .imgbg {
  border-radius: 20px 20px 0 0;
  background-size: 100%;
  width: 100%;
  height: 100px;
}

.produits__lien {
  text-decoration: none;
  color: #222222;
}

.produits__lien:hover {
  background-color: aqua;
}

.restaurants .produits .desc-produit {
  margin-top: 10px;
}

.restaurants .produits .desc-produit p {
  margin: 0px;
  font-size: 1.54rem;
}

/* images propres a chaque encadré */
#Activimgbg1 {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

#Activimgbg2 {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

#Activimgbg3 {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

#Activimgbg4 {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

/* arrondi fond blanc */
.restaurants .produits__lien__produit {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 20px;
  margin: 20px auto 20px auto;
  /* auto pour centrer, on aurait pu aussi ne pas définir de max-width... */
  padding: 5px;
  max-width: 340px;
  /* a voir */
  min-width: 240px;
  -webkit-box-shadow: lightgrey 0.12em 0.12em 0.05em;
          box-shadow: lightgrey 0.12em 0.12em 0.05em;
}
/*# sourceMappingURL=main.css.map */