@charset "UTF-8";
/*(mauve) */
/* rose*/
/* vert*/
/* gris foncé */
/* gris clair */
/* blanc pour fond lieu en mode desktop + fond cadre des palts */
/* pour hover des bouton de fonctionnement */
/* $heading-shadow-size: .55rem; */
/* gris foncé */
/*@function lightness-shift($colour) {
    @if (lightness($colour) < 25%){
        @return lighten($colour, 10%);
    }@else{
        @return darken($colour, 10%);
    }
}*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit;*/
}

html {
  font-size: 70%;
}

@media screen and (min-width: 1023px) {
  html {
    /*sur grand écran = desktop */
    font-size: 60%;
  }
}

body {
  /* box-sizing: border-box;
    background: $colour-secondary;*/
  margin: 0 100;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1.5rem;
  line-height: 1.5;
}

strong {
  font-weight: bold;
}

h1, h2, h3 {
  font-family: 'Shrikhand', sans-serif;
}

h1 {
  font-size: 1.8rem;
}

textarea {
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-weight: 200;
  font-size: 2.75rem;
}

.bouton_explorer {
  margin: 1.5rem 0 3rem 0;
  border-radius: 2em;
  border: 0;
  -webkit-box-shadow: 3px 3px 3px #c2c2c2;
          box-shadow: 3px 3px 3px #c2c2c2;
  font-size: 0.9em;
  color: #fff;
  padding: 1rem 1.9rem;
  background-image: radial-gradient(ellipse farthest-corner at 100px 0, #FF79DA 0%, #9356DC 100%);
  cursor: pointer;
  min-width: 12em;
  font-weight: bold;
}

.bouton_explorer:hover {
  /*background: $colour-primary;*/
  opacity: 80%;
  color: #222222;
}

.fonctionnment__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5rem 0 25px 0;
  padding: 1.8rem 0 1.3rem 0;
  background-color: #f6f6f6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* alignement vertical*/
  border-radius: 1.5rem;
  -webkit-box-shadow: 3px 3px 10px #eaeaea;
          box-shadow: 3px 3px 10px #eaeaea;
  /* ombre porté */
}

.fonctionnment__bloc--num {
  color: #fff;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 4px 8px 4px 8px;
  margin: 0 1.5rem 0 -12px;
  font-size: 1rem;
  font-weight: bold;
}

.fonctionnment__bloc--icone {
  font-size: 1.8rem;
  color: #777777;
}

.fonctionnment__bloc--lib {
  font-size: 1.4rem;
  margin-left: 2rem;
  font-weight: bold;
}

.fonctionnment__bloc:hover {
  background-color: #e4d9f1;
  -webkit-box-shadow: 3px 3px 20px #c6bfbf;
          box-shadow: 3px 3px 20px #c6bfbf;
}

.fonctionnment__bloc:hover .fonctionnment__bloc--icone {
  color: #9356DC;
}

/*.header {
    background: $colour-primary;
    height: 10rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;   
    &__logo {
        font-size: 7rem;
        color: $colour-secondary;
        margin-left: 10rem;
        @include heading-shadow($white);
    }
}*/
/*
.header__logo {

    background-repeat: no-repeat;
    background-size:6.5em;
    background-image: url("../images/logo/ohmyfood.png");
    margin: auto;
}
*/
header {
  text-align: center;
  padding: 1rem 0 0 0;
}

.header__imglogo {
  width: 12rem;
}

.retour-pg-prec {
  position: absolute;
  top: auto;
  left: 1rem;
}

.nav {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
  font-size: 1rem;
  background-color: #5f5f5f;
  padding: 1.5rem;
}

@media screen and (min-width: 1023px) {
  .nav-ul {
    /*sur grand écran = desktop */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.nav-ul__link {
  list-style-type: none;
  /*&--active {
                color: $colour-secondary;
                &:hover{
                    color: $colour-secondary;
                }
            }*/
}

.nav-ul__link a {
  text-decoration: none;
  color: white;
}

.nav-ul__link a:hover {
  color: grey;
}

.nav__titre-footer {
  font-family: 'Shrikhand', sans-serif;
  font-size: 1.2em;
  color: white;
  padding-bottom: 1em;
}

header, main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1140px;
  margin: auto;
}

/*main {
    background-color: red;
}

.container {
    margin: $layout-margin;
    padding: $grid-gutter $grid-gutter 0 $grid-gutter;
    @include border(red);
}
*/
/*.form {
    width: 100%;
    padding-bottom: $grid-gutter;
    &__heading {
        width: 100%;
        color: white;
        background: $colour-primary;
        line-height: 5rem;
        padding: $grid-gutter;
    }
    &__field {
        & label {
            color: red;
            display: block;
            font-size: 2rem;
            line-height: 2rem;
            padding-top: $grid-gutter;
        }
        & input {
            width: 100%;
            background: $colour-secondary;
            @include border;
            padding: $grid-gutter;
            color: red;
            font-weight: 900;
            font-style: italic;
            font-size: 2.75rem;
            @include border;
            background-color: $colour-secondary;
            color: $colour-primary;

        }
        & textarea {
            width: 100%;
            color: $colour-primary;
            background: $colour-secondary;
            @include border;
            outline: none;
            padding: $grid-gutter;
            margin-bottom: $grid-gutter*0.5;
        }
    }
}*/
.lieuEtFctionnment {
  /*background-color: yellow;*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  display: block;
  /* __ville et __explorer sont inclus  dans un meme div */
}

@media screen and (min-width: 1023px) {
  .lieuEtFctionnment {
    /*sur grand écran = desktop */
    display: -ms-grid;
    display: grid;
  }
}

.lieuEtFctionnment .lieu {
  height: 100%;
}

@media screen and (min-width: 1023px) {
  .lieuEtFctionnment .lieu {
    /*sur grand écran = desktop */
    border-right: solid 1px #585454;
  }
}

.lieuEtFctionnment .lieu__ville {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0 1rem 0;
  background-color: #eaeaea;
}

.lieuEtFctionnment .lieu__ville span {
  padding-left: 2rem;
  font-weight: bold;
}

.lieuEtFctionnment .lieu__explorer {
  background-color: #f6f6f6;
  text-align: center;
  font-size: 1.8rem;
  padding-top: 1.5rem;
  /*height: 100%;*/
}

.lieuEtFctionnment .lieu__explorer h1 {
  padding: 1rem 0;
}

.lieuEtFctionnment .lieu__explorer span {
  color: #777777;
}

@media screen and (min-width: 1023px) {
  .lieuEtFctionnment .lieu__explorer {
    /*sur grand écran = desktop */
    background-color: white;
  }
}

.lieuEtFctionnment .fonctionnment {
  padding: 30px 0 20px;
  /*background-color: yellow;*/
  /* grid-template-columns: 1fr 90% 1fr;*/
}

@media screen and (min-width: 1023px) {
  .lieuEtFctionnment .fonctionnment {
    /*sur grand écran = desktop */
    padding: 0;
  }
}

.lieuEtFctionnment .fonctionnment .titre_fonctionnment {
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 10px;
}

@media screen and (min-width: 1023px) {
  .lieuEtFctionnment .fonctionnment .titre_fonctionnment {
    /*sur grand écran = desktop */
    text-align: center;
    background-color: #eaeaea;
    padding: 1rem 0 0.5rem 0;
  }
}

.lieuEtFctionnment .fonctionnment .listeFonctionnment {
  max-width: 400px;
  margin: auto;
  padding: 0 20px;
}

.restaurants {
  padding-top: 10px;
  background-color: #f6f6f6;
}

.restaurants .restaurants-titre {
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 10px;
}

.restaurants .restaurants-liste {
  padding-bottom: 2em;
}

@media screen and (min-width: 1023px) {
  .restaurants .restaurants-liste {
    /*sur grand écran = desktop */
    /* pour que les restaurants s'affichent à la suite en mode desktop */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction: row; par defaut */
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    /*les éléments sont séparés avec de l'espace entre eux ;.*/
  }
  .restaurants .restaurants-liste .vignetteHaute {
    height: 90%;
  }
  .restaurants .restaurants-liste .vignetteHaute .imgbg {
    background-size: 24.7em !important;
    height: 260px !important;
  }
}

.restaurants .restaurants-liste .restaurants-liste__lien {
  text-decoration: none;
  color: #222222;
  /* arrondi fond blanc */
}

.restaurants .restaurants-liste .restaurants-liste__lien .restaurant-bloc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  /* pour que la notif-nouveau soit positionnée où on le souhaite */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 20px;
  margin: 20px auto 0px auto;
  /* auto pour centrer, on aurait pu aussi ne pas définir de max-width... */
  padding: 0px;
  max-width: 340px;
  /* a voir */
  min-width: 240px;
  -webkit-box-shadow: #eaeaea 0.12em 0.12em 0.05em;
          box-shadow: #eaeaea 0.12em 0.12em 0.05em;
}

.restaurants .restaurants-liste .restaurants-liste__lien .restaurant-bloc:hover {
  background-color: #eaeaea;
}

.restaurants .restaurants-liste .restaurants-liste__lien .restaurant-bloc--notif-nouveau {
  border-radius: 2px;
  background-color: #99E2D0;
  color: #3a927e;
  padding: 0 5px;
  position: absolute;
  top: 0.6em;
  right: 0.5em;
  font-weight: bold;
}

.restaurants .restaurants-liste .restaurants-liste__lien .restaurant-bloc .imgbg {
  border-radius: 20px 20px 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  /* images propres a chaque encadré */
}

.restaurants .restaurants-liste .restaurants-liste__lien .restaurant-bloc .imgbg--imgbg1 {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.restaurants .restaurants-liste .restaurants-liste__lien .restaurant-bloc .imgbg--imgbg2 {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.restaurants .restaurants-liste .restaurants-liste__lien .restaurant-bloc .imgbg--imgbg3 {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.restaurants .restaurants-liste .restaurants-liste__lien .restaurant-bloc .imgbg--imgbg4 {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.restaurants .restaurants-liste .restaurants-liste__lien .restaurant-bloc .desc-produit {
  padding: 0 0 10px 10px;
  margin-top: 10px;
  position: relative;
  /* pour pouvoir mettre les 2 autre ci dessous en absolute */
}

.restaurants .restaurants-liste .restaurants-liste__lien .restaurant-bloc .desc-produit p {
  margin: 0px;
  font-size: 1.54rem;
}

.restaurants .restaurants-liste .restaurants-liste__lien .restaurant-bloc .desc-produit__heart {
  position: absolute;
  font-size: 2rem;
  right: 2rem;
  bottom: 2rem;
}

.restaurants .restaurants-liste .restaurants-liste__lien .restaurant-bloc .desc-produit__heart-animee {
  position: absolute;
  opacity: 0;
  font-size: 1.95rem;
  right: 2rem;
  bottom: 2rem;
}

.restaurants .restaurants-liste .restaurants-liste__lien .restaurant-bloc .desc-produit__heart-animee:hover {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.restaurants .restaurants-liste .restaurants-liste__lien .restaurant-bloc .desc-produit__heart-animee .heart-degrade {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  /* pour que le changement de fond ne s'applique qu'a l'interieur*/
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes effet-affichage-menu {
  /* @keyframes = règle ou sont déclarées un ensemble de keyframe */
  0% {
    opacity: 50%;
  }
  80% {
    opacity: 60%;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes effet-affichage-menu {
  /* @keyframes = règle ou sont déclarées un ensemble de keyframe */
  0% {
    opacity: 50%;
  }
  80% {
    opacity: 60%;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 100%;
  }
}

.restau-img-sup {
  -ms-grid-column: 2;
      grid-column-start: 2;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}

.restau-titre {
  position: relative;
  border-radius: 2.9rem 2.9rem 0 0;
  padding: 1.9rem;
  margin-top: -2rem;
  background-color: #f6f6f6;
}

.restau-titre__heart {
  position: absolute;
  font-size: 2rem;
  right: 2rem;
  bottom: 2rem;
}

.restau-titre__heart-animee {
  position: absolute;
  opacity: 0;
  font-size: 1.95rem;
  right: 2rem;
  bottom: 2rem;
}

.restau-titre__heart-animee:hover {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.restau-titre__heart-animee .heart-degrade {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  /* pour que le changement de fond ne s'applique qu'a l'interieur*/
  -webkit-text-fill-color: transparent;
}

.menu {
  background-color: #f6f6f6;
  padding: 0 1.2em;
}

.menu .menu__titre {
  padding: 0;
}

.menu .menu__separateur {
  width: 3.5rem;
  border-top: 3px solid #99E2D0;
  margin: 0;
}

.menu .menu__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 1023px) {
  .menu .menu__group {
    /*sur grand écran = desktop */
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.menu .menu__group .menu__plat {
  max-width: 350px;
  position: relative;
  background-color: white;
  /*height: 2.8em;*/
  /*50px; on ne specifie rien ainsi ca ira a la ligne si grande description*/
  padding: 0 0 15px 15px;
  margin: 1rem;
  cursor: pointer;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 1.5rem;
  -webkit-box-shadow: #eaeaea 0.14em 0.14em 0.07em;
          box-shadow: #eaeaea 0.14em 0.14em 0.07em;
  opacity: 0;
  -webkit-animation: effet-affichage-menu 0.5s 0s ease-out forwards;
          animation: effet-affichage-menu 0.5s 0s ease-out forwards;
  /* duréen delay, effet, animation-fill-mode : effet-affichage-men est une keyframe, sert a faire l'effet de transition souhaité */
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  /* delai pour déalage */
}

.menu .menu__group .menu__plat:hover {
  background-color: #eaeaea;
}

.menu .menu__group .menu__plat:hover > .menu__plat__survol {
  /* visibility:visible;*/
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.menu .menu__group .menu__plat:hover > .menu__plat__survol .menu__plat__survol2 {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.menu .menu__group .menu__plat:hover > .menu__plat__detail {
  -webkit-transform: scaleX(0.75);
          transform: scaleX(0.75);
  /* diminution de la taille du bloc détaillant le plat */
}

.menu .menu__group .menu__plat .menu__plat__survol {
  width: 20%;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0 1.5rem 1.5rem 0;
  color: white;
  font-size: 1.5em;
  top: 0;
  left: 100%;
  /* pour le faire sortir de la boite */
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* très important pour que la coche interieur soit centrée , comme les 2 autres ci dessous*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*  transform-origin: right;*/
  /*  visibility: hidden;*/
}

.menu .menu__group .menu__plat:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.menu .menu__group .menu__plat:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.menu .menu__group .menu__plat:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.menu .menu__group .menu__plat__titre {
  font-size: 1.1em;
  font-weight: bold;
}

.menu .menu__group .menu__plat__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

.menu .menu__group .menu__plat__detail__prix {
  /*font-size: 1.05em;*/
  font-weight: bold;
  padding-right: 0.5rem;
}

.menu .commander {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */