header, main {
    align-items: center;
    max-width: 1140px;
    margin: auto;
}
/*main {
    background-color: red;
}

.container {
    margin: $layout-margin;
    padding: $grid-gutter $grid-gutter 0 $grid-gutter;
    @include border(red);
}
*/












