*,
*::after,
*::before {
    margin: 0;
    padding: 0;
   /* box-sizing: inherit;*/
}

html {
    font-size: 70%;
    @media screen and (min-width: 1023px) { /*sur grand écran = desktop */
        font-size: 60%;
    }
}

body {
   /* box-sizing: border-box;
    background: $colour-secondary;*/
    margin:0 100;
}