
.restaurants{ padding-top : 10px;  /*background-color: orange !important;*/}

/*sur grand écran = desktop */
@media screen and (min-width: 1024px) { 

    #hebergements .produits,  .restaurants .produits { /* pour que les produits s'affiches à la suite en mode desktop */
        display: flex; /* flex-direction: row; par defaut */
        flex-wrap: wrap;
        justify-content: space-around; /*les éléments sont séparés avec de l'espace entre eux ;.*/
    }
    .restaurants .vignetteHaute {
        height:90%;
    }
    .restaurants .vignetteHaute .imgbg {
        background-size: 24.7em !important;
        height: 260px !important;
    }
}


.restaurants .produits__lien__produit .desc-produit {
    padding: 0 0 10px 10px;

}


.restaurants .produits__lien__produit .imgbg {
    border-radius: 20px 20px 0 0;
    background-size: 100%;
    width: 100%;
    height: 100px;
}
.produits__lien{
    text-decoration: none;
    color: $colour-lien-produit;
}
.produits__lien:hover{
    background-color: aqua;
}
.restaurants .produits .desc-produit {
    margin-top: 10px;
}
.restaurants .produits .desc-produit p {
    margin: 0px;
    font-size: 1.54rem;
}

/* images propres a chaque encadré */
#Activimgbg1 { background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");}
#Activimgbg2 { background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");}
#Activimgbg3 { background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");}
#Activimgbg4 { background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");}

/* arrondi fond blanc */
.restaurants .produits__lien__produit {
    flex-direction: column;

    display: flex;
    background-color:white;
    border-radius: 20px;
    margin: 20px auto 20px auto; /* auto pour centrer, on aurait pu aussi ne pas définir de max-width... */
    padding: 5px;
    max-width: 340px; /* a voir */
    min-width: 240px;
    box-shadow: lightgrey 0.12em 0.12em 0.05em;
}